extends layout

block content
    h1 Dob-Jobs

    #wrapper

    #jobsTable
        table
            thead
                th Address
                th bbl
                th date
                th job type
                th owner
            tbody

    