#table {
   
}

#table th {
   text-align: center;
}

#table td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
    text-align: center;
}

#table_container {
  margin-left: 32px;
  margin-right: 32px;
}

.yadcf-filter-date {

  max-width: 115px;
}
.yadcf-filter-range-number {
  max-width: 50px;
  font-size: 12px;
}

.center-left {
  text-align: left;
}