body {
   font-family: Tahoma,Verdana,Segoe,sans-serif; 
}

table thead tr th {
   text-align: center;
   font-size: 16px;
}


#table tbody td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
    text-align: center;
    font-size: 12px;
}

/*input#yadcf-filter-table-3 {
  width: 90px;
}

.yadcf-filter {
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 3px;
  padding-top: 3px;
  max-width: 100px;
  display: block;
}
*/

#main-text {

  padding-top: 25px;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 25px;

}

.dataTables_scroll {
  margin-top: 20px;
  margin-bottom: 25px;
}

#table_wrapper {

}

.ui-widget-header {
  border: 0px;
  background: 0;
}

.ui-state-default {

  color: #000;
}

.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 170px;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
}

.ui-tooltip-content {

  font-family: Tahoma,Verdana,Segoe,sans-serif; 
  font-size: 12px;
}

.ui-helper-hidden-accessible { display:none; }

#bbl {

  float: right;
  padding-left: 14px;

}

.bbl-input {

  margin-left: 5px;
  max-width: 60px;


}

.address-input {

  max-width: 120px;
}

/*#house-input {
  width: 40px;
  margin-right: 3px;
}*/

#address-submit {

  display: inline;
}

#title {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
#title h2 {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#year-container ul{
  padding-left: 4px;
  
}

#year-container li {
    display: inline;
    list-style-type: none; 
    text-align: center;
    font-size: 1.4em;
    padding: .3em;

}

#year-container .ui-selecting { 
  background: #FECA40; 
}
#year-container .ui-selected { 
  background: #666666; color: white; 
}

.year:hover {
  cursor: default;
}


#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }

#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }