body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#jobsTable td, tr {
    padding: 3px 15px;

}

#jobsTable table {
    border-collapse: collapse;
}